.footer-content {
  width: auto;
  margin: 10px auto;
}

.footer__logo {
  margin: 0;
  padding: 0;
  width: 0px;
  height: 0px;
}

.footer__bottomline {
  width: auto;
  height: 3px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--primary-color);
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.footer-credits {
  text-align: center;
  margin: 5px auto;
  color: lightslategray;
}

.footer-link-wrapper {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

.footer__icon {
  width: 45px;
  height: 45px;
  border-style: solid;
  border-color: var(--secondary-color);
  border-radius: 50%;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link__logo {
  color: var(--secondary-color);
  text-decoration: none;
}

.footer-link  {
  color: var(--secondary-color);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--primary-color);
  text-decoration: none;
}

@media (min-width: 576px) {
  .footer-content {
    width: auto;
  }

  .footer__logo{
    width: 0px;
    height: 0px;
  }

  .footer__bottomline{
    width: 240px;
  }

  .footer__icon{
    width: 30px;
    height: 30px;
  }

  .footer-link-wrapper{
    width: 240px;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .footer-content {
    width
    : auto;
  }
  .footer__logo{
    width: 0px;
    height: 0px;
  }

  .footer__bottomline{
    width: 320px;
  }

  .footer__icon{
    width: 35px;
    height: 35px;
  }

  .footer-link-wrapper{
    width: 320px;
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .footer-content {
    width: 960px;
  }

  .footer__logo{
    width: 180px;
    height: 80px;
    background-image: url('../images/logo_fundacja.png');
    background-repeat: no-repeat;
    background-size: 160px 80px;
  }

  .footer__bottomline{
    width: 540px;
  }

  .footer__icon{
    width: 45px;
    height: 45px;
  }

  .footer-link-wrapper{
    width: 540px;
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  .footer-content {
    width: 1140px;
  }

  .footer__logo{
    width: 200px;
    height: 100px;
    background-image: url('../images/logo_fundacja.png');
    background-repeat: no-repeat;
    background-size: 200px 100px;
  }

  .footer__bottomline{
    width: 720px;
  }

  .footer__icon{
    width: 45px;
    height: 45px;
  }

  .footer-link-wrapper{
    width: 720px;
    font-size: 22px;
  }
}