@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import "./variables.css";
@import './normalize.css';
@import './navigation.css';
@import "./footer.css";

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../images/clean_mikstura_wallpaper.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

}

.container {
  padding-top: 100px;
  margin: 0 auto;
  height: 650px;
  color: var(--secondary-color);
}

.about-title {
  font-size: 26px;
  font-family: 'Josefin Sans', sans-serif;
}

.part-text__color {
  color: var(--primary-color);
}

.about-content {
  padding: 0 30px;
  margin: 30px 30px;
  border-left: 4px solid var(--primary-color);
}

.tiles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tiles-item {
  margin: 0;
}
