@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  --primary-color: orange;
}

.header {
  display: flex;
  align-content: center;
  height: 130px;
  font-size: 28px;
  margin: 0 50px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.content {
  background-color: white;
  color: #404040;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: auto;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}

.navigation__item {
  margin: 0 60px 0 0;
  padding: 0;
}

.navigation__item:nth-last-child(1) {
  text-align: center;
  padding: 4px 20px;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color);
  border-radius: 6px;
}

.header-link {
  color: #404040;
  text-decoration: none;
}

.header-link__it {
  color: var(--primary-color)
}

.header-link.active {
  color: var(--primary-color);
  text-shadow: 0px 0px 1px var(--primary-color);
}

.header-link:hover {
  color: var(--primary-color);
  text-decoration: none;
}
